<div id="page-content">
	<div class="container" id="home-container">
		<div class="jumbotron text-center">
		  <h1 class="display-4">The World Needs Your Story!</h1>
		  <p class="lead">Everyone has that funny or embaressing story you want to share but don't know where. Well here is your platform!</p>
		  <hr class="my-4">
		  <p>Sign up to remember your stories or click Post to stay anonymous</p>

		  <a class="btn btn-outline-success btn-lg" href="#" role="button">Sign up!</a>
		  <a class="btn btn-outline-primary btn-lg" href="#" role="button">Post Your Story!</a>
		</div>
	</div>
</div>

